# ENVIROMENT
*.mypy_cache/
*.vscode/
venv/
setup.cfg
*__pycache__
3d_Party/

# PACKAGING
*.egg
*.egg-info
dist
build
eggs

ICARUS/foil*
ICARUS/gnvp*

*.pyc
Control/slprj*

*.err
*.out
test*.ipynb

ICARUS/Database/Mock
ICARUS/Database/2D
ICARUS/Database/3D
ICARUS/Database/XFLR5
