Rudder/Reynolds*/[0123456789]*
Rudder/Reynolds*/foil
Rudder/Reynolds*/m*
Elevator/Reynolds*/[0123456789]*
Elevator/Reynolds*/foil
Elevator/Reynolds*/m*
Wing/Reynolds*/[0123456789]*
Wing/Reynolds*/foil
Wing/Reynolds*/m*
3D/gnvp
foil
gnvp
__pycache__/
.vscode/
airLibs/__pycache__/
.mypy_cache
test.ipynb
XFLR5/
Wing/3D
3D/
Wing/Base/polyMesh
