[build-system]
requires = ["setuptools", "setuptools-scm", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["ICARUS*"]
exclude = ["Data*", "tests*"]

[project]
name = "ICARUS"
authors = [
    {name = "Tryfonas Themas", email = "tryfonthem@gmail.com"},
]
description = "ICARUS AIRPLANE DESIGN"
readme = "README.md"
requires-python = ">=3"
dependencies = [
    "pip",
    "jsonpickle",
    "matplotlib",
    "numpy",
    "pandas",
    "ipykernel",
    "ipython",
    "tabulate",
    "pre-commit",
    "regex",
    "tqdm",
    "xmltodict",
    "inquirer",
    "pyfiglet",
    "gitpython",
    "airfoils @git+https://github.com/trifwn/airfoils.git",
    "xfoil @git+https://github.com/trifwn/xfoil-python-windows.git",
]
dynamic = ["version"]


[tool.setuptools.dynamic]
version = {attr = "ICARUS.__version__"}


[tool.mypy]
plugins = [
    "numpy.typing.mypy_plugin"
]
#pretty = true
